:root {
  --color-primary-400: #a1c65a;
  /* lighter olive green */
  --color-primary-500: #83a64c;
  /* base olive green */
  --color-primary-600: #5a8b3a;
  /* darker olive green */
  --color-primary-700: #2e6a47;
  /* deep forest green */
}

body {
  color: #26573a;
  font-family: "Playfair Display", serif;
}

.bg-primary-500 {
  background-color: var(--color-primary-500);
}

.bg-primary-700 {
  background-color: var(--color-primary-700);
}

.hover\:bg-primary-700:hover {
  background-color: var(--color-primary-700);
}

body section {
  padding: 2rem 0;
}

@media (min-width: 992px) {
  body section {
    padding: 4rem 0;
  }
}

.container {
  max-width: 1280px !important;
  margin: 0 auto;
  padding: 0 1rem;
}

.swiper-pagination-bullet {
  background-color: #83a64c;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #2e6a47;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
}

.btn.primary {
    background-image: linear-gradient(135deg, var(--color-primary-400), var(--color-primary-500), var(--color-primary-700));
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 1rem;
}

.btn.primary:hover {
  background-image: linear-gradient(
    135deg,
    var(--color-primary-600),
    var(--color-primary-500),
    var(--color-primary-400)
  );
}

.shadow-2xl {
    box-shadow: 0 1rem 1rem 0rem rgba(0, 0, 0, 0.1) !important;
}

.bg-linear-gradient {
    background-image: linear-gradient(135deg, #faf9e0, #e4fce4);
}

ul li.check {
  list-style: none;
  position: relative;
  padding-left: 1.8em;
}

ul li.check::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.3em;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url('check.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}